{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block content %}
<div class="d-flex flex-column vh-100 bg-primary ">
    <!-- Greeting -->
    <div id="greeting" class="d-flex justify-content-center align-items-center bg-secondary">
        <h3 class="text-white m-1">Hi! 🤖 How can I help You Today?</h3>
    </div>

    <div class="bubbles bg-body-tertiary  flex-grow-1 overflow-y-auto d-flex flex-column gap-2 align-items-start">
        
    </div>

    <form class="d-flex p-0 gap-1" id="chat-form" method="post">
        {% csrf_token %}
        <textarea
            id="chatInput"
            class="form-control"
            name="reply"
            rows="1"
            placeholder="Ask KAI..."
        ></textarea>

        <button
            class="btn fs-5 bg-dark-subtle"
            id="send-btn"
            type="submit"
            class="btn btn-primary"
        >
            ➤
        </button>
    </form>
    
</div>
{% endblock %}