
.movie-card {
    width: 800px;
    flex: 0 0 600px;
    align-items: center;
    justify-content: center;
}

.favs-box {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.favs-box .movie-card {
    width: 50%;
   align-content: center;
   align-items: center;
   justify-content: center;
}