{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<div class="main">

{% if movies %}
    <div class="movie-grid">
        {% for movie in movies %}

            <article class="movie-card">
                <div class="movie-details">

                    <h1>{{ movie.title }}</h1>

                    <div class="movie-meta">
                        <span>{{ movie.year }}</span>
                        <span>⭐ {{ movie.rating }}</span>
                        
                        {% if movie.genres %}
                            {% for genre in movie.genres %}
                                <span>{{ genre }}</span>
                            {% endfor %}
                        {% else %}
                            <span>N/A</span>
                        {% endif %}

                    </div>

                    <p class="movie-description">
                        {% if movie.description %}
                            {{movie.description}}
                        {% else %}
                        A great movie description will appear here when we
                        connect the TMDB API.
                        {% endif %}
                    </p>

                    <div class="movie-actions">

                        <button type="button" class="watch-btn" >
                            ▶ Watch Trailer
                        </button>
                        <form action="{% url 'add_fav' movie.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" 
                            id="f-btn" class="favourite-btn"
                            data-movie-id="{{ movie.id }}"
                            data-title="{{ movie.title }}"
                            >
                            {% if movie.id in favourite_ids %}
                                🩷
                            {% else %}
                                ♡
                            {% endif %}
                            </button>
                        </form>

                    </div>

                </div>

                <div class="movie-poster">

                    <img
                        src="{{ movie.poster }}"
                        alt="{{ movie.title }}"
                    >

                    <button class="poster-play" type="button">
                        ▶
                    </button>

                </div>

            </article>

        {% endfor %}

    </div>

{% else %}

    <h1>Error Loading Movies</h1>

{% endif %}


</div>

{% endblock %}
